.vh-90 {
  height: 90vh;
}

.hero-image {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  background-position: bottom;
}

.flex-space-even {
  display: flex;
  justify-content: space-evenly;
}

.dark-red-text {
  color: #730212;
}

.font-bolder {
  font-weight: bolder;
}

.icon-size-margin {
  font-size: 3em;
  margin: 30px auto;
}

.card {
  width: 18rem;
  background-color: transparent;
  border: none;
}

.btn-primary {
  color: #730212;
  background-color: white;
  border-color: rgb(95, 95, 95);
}

.btn-primary:hover {
  color: white;
  background-color: #730212;
  border-color: rgb(95, 95, 95);
}
