/* --------------- */
/* utility classes */
/* --------------- */

.vh-90 {
  height: 90vh;
}

.width-70p {
  width: 70%;
}

.margin-5p-auto {
  margin: 5% auto;
}

.pad-right-20px {
  padding-right: 20px;
}

.flex-space-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-space-even {
  display: flex;
  justify-content: space-evenly;
}

.dark-red-text {
  color: #730212;
}

.white-text {
  color: white;
}

.font-bolder {
  font-weight: bolder;
}

.nav-hover:hover {
  color: white;
}

.font-w-200 {
  font-weight: 200;
}

.font-1dot5em {
  font-size: 1.5em;
}

.font-3em {
  font-size: 3em;
}

/* ----------------- */
/* component classes */
/* ----------------- */

/* nav and hero */
.skip-nav {
  padding-left: 32px;
  font-size: 1.5em;
  position: absolute;
  top: -50px;
  background-color: white;
  width: 100%;
}

.skip-nav:focus {
  top: 0px;
}

h1 {
  line-height: 36px;
}

.hero-image {
  background-image: url(/images/cropHero.png);
  background-size: cover;
  background-position: bottom;
}

/* about section */
.icon-size-margin {
  font-size: 3em;
  margin: 30px auto;
}

.card {
  width: 18rem;
  background-color: transparent;
  border: none;
}

.btn-primary {
  color: #730212;
  background-color: white;
  border-color: rgb(95, 95, 95);
}

.btn-primary:hover {
  color: white;
  background-color: #730212;
  border-color: rgb(95, 95, 95);
}

/* find shoes section */

/* -------------------------------- */
/* override bootstrap media queries */
/* -------------------------------- */
@media (min-width: 576px) {
  .jumbotron {
    padding: 1rem 2rem;
  }
}
